In [ ]:
import pandas as pd
s = pd.Series(['Matemáticas','Historia','Economía','Programación','Inglés'], dtype='string', name='Materias')
print(s)
print( )

print("esto es print(s.size =)", s.size)
print("esto es print(s.index =)", s.index)
print("esto es print(s.dtype =)", s.dtype)

0     Matemáticas
1        Historia
2        Economía
3    Programación
4          Inglés
Name: Materias, dtype: string

esto es print(s.size =) 5
esto es print(s.index =) RangeIndex(start=0, stop=5, step=1)
esto es print(s.dtype =) string

In [ ]:
s = pd.Series({'Matemáticas': 6.0,'Economía': 4.5 ,'Programación': 8.5}, name ="Notas de Estudiantes")
print(s)
print()
print("esto es print(s.size =)", s.size)
print("esto es print(s.index =)", s.index)
print("esto es print(s.dtype =)", s.dtype)

Matemáticas     6.0
Economía        4.5
Programación    8.5
Name: Notas de Estudiantes, dtype: float64

esto es print(s.size =) 3
esto es print(s.index =) Index(['Matemáticas', 'Economía', 'Programación'], dtype='object')
esto es print(s.dtype =) float64

In [ ]:
serie = pd.Series([100,200,300], index =['A','B','C'], name = 'Precios de Productos')
print(serie)
#En este caso creamos un índice
print("esto es print(s.size =)", serie.size)
print("esto es print(s.index =)", serie.index)
print("esto es print(s.dtype =)", serie.dtype)

A    100
B    200
C    300
Name: Precios de Productos, dtype: int64
esto es print(s.size =) 3
esto es print(s.index =) Index(['A', 'B', 'C'], dtype='object')
esto es print(s.dtype =) int64

In [ ]:
import pandas as pd
my_series = pd.Series(5, index =['A','B','C'], name = 'Escalar')

print(my_series)
print("esto es print(s.size =)", my_series.size)
print("esto es print(s.index =)", my_series.index)
print("esto es print(s.dtype =)", my_series.dtype)

A    5
B    5
C    5
Name: Escalar, dtype: int64
esto es print(s.size =) 3
esto es print(s.index =) Index(['A', 'B', 'C'], dtype='object')
esto es print(s.dtype =) int64

In [ ]:
import pandas as pd
h = pd.Series(['Mate','Hist','Econ','Progra','Ingl'], name='Materi')


print(f"Esto es un rango elegido por mi {h[1:3]}")
print()
print("Esto es un acceso por posición", h.iloc[1])

Esto es un rango elegido por mi 1    Hist
2    Econ
Name: Materi, dtype: object

Esto es un acceso por posición Hist

In [ ]:
serie = pd.Series([100,200,300], index =['A','B','C'], name = 'Precios de Productos')
print(serie)
serie1 = pd.Series([150,250,350], index =['D','E','C'], name = 'Precios de Productos')
print(serie1)
print(serie+serie1)

A    100
B    200
C    300
Name: Precios de Productos, dtype: int64
D    150
E    250
C    350
Name: Precios de Productos, dtype: int64
A      NaN
B      NaN
C    650.0
D      NaN
E      NaN
Name: Precios de Productos, dtype: float64

In [ ]:
#panda no contiene numpy por eso se debe exportar ambos para realizar ecuaciones complejas con panda
import numpy as np
import pandas as pd
print()

EJERCICIOS

In [ ]:
import pandas as pd
import numpy as np
mi_serie = pd.Series([5,10,15,20],index= ['a','b','c','d'], name= 'Numerines')
print(mi_serie)

# Calcular suma, media, filtrado mayor a 10
print("Suma de los datos de mi serie:", mi_serie.sum())
print("Promedio de los datos de mi serie:", mi_serie.mean())
print("Filtrado > 10 de los datos de mi serie:\n",mi_serie.loc[mi_serie > 10])

a     5
b    10
c    15
d    20
Name: Numerines, dtype: int64
Suma de los datos de mi serie: 50
Promedio de los datos de mi serie: 12.5
Filtrado > 10 de los datos de mi serie:
 c    15
d    20
Name: Numerines, dtype: int64

In [ ]:
#Crear DataFrame con columnas: Producto, Precio, Cantidad y 4 Filas
df = pd.Series({'Arroz':1000,'Cebolla' :500,'Wasabi':2300,'Soya': 1650}, index ='Producto','Precio', name='Compras')
print(df)

SyntaxError: positional argument follows keyword argument (ipython-input-24-2052747224.py, line 2)

In [ ]:
import pandas as pd
import numpy as np
#Dataframe es una caracteristica de np

Compritas = {'Producto': ['Arroz', 'Cebolla', 'Wasabi', 'Soya'],
              'Precio': [1000, 500, 2300, 1650],'Cantidad': [3, 5, 1, 2]}

df = pd.DataFrame(data)
print(df)

  Producto  Precio  Cantidad
0    Arroz    1000         3
1  Cebolla     500         5
2   Wasabi    2300         1
3     Soya    1650         2

In [ ]:
import pandas as pd
import numpy as np
#Dataframe es una caracteristica de np
comprotas = pd.DataFrame([['Flauta','Guitarra','Bajo'],[3000,60000,150000]], columns=['Instrumentos','Precio'])
print(comprotas)

ValueError: 2 columns passed, passed data had 3 columns

In [ ]:
import pandas as pd
import numpy as np

comprotas = pd.DataFrame({'Flauta':3000,'Guitarra':60000 ,'Bajo':150000}, columns=['Instrumentos', 'Precio'])
print(comprotas)

Empty DataFrame
Columns: [Instrumentos, Precio]
Index: []

In [ ]:
#Ejercicio 5) Agregar una columna a mi tabla
import pandas as pd
import numpy as np
datos = pd.DataFrame({
    'Producto': ['Laptop', 'Mouse', 'Teclado', 'Monitor'],
    'Precio': [800, 20, 50, 200],
    'Cantidad': [5, 10, 7, 3] })

print(datos)
print()
#crear una nueva columna, que contenga la suma de todos los productos disponibles
datos['Total'] = datos['Precio'] * datos['Cantidad']
print(datos)

  Producto  Precio  Cantidad
0   Laptop     800         5
1    Mouse      20        10
2  Teclado      50         7
3  Monitor     200         3

  Producto  Precio  Cantidad  Total
0   Laptop     800         5   4000
1    Mouse      20        10    200
2  Teclado      50         7    350
3  Monitor     200         3    600

In [ ]:
#Crear un dataframe con datos de estudiantes

notas_estudiantes =pd.DataFrame({
    'Alumno':['Cuicito', 'Gatito','Arya','Coliflor']
})